
ul {
    list-style: none;
}
li a {
    /* display: block; */
    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
     'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 28px;
    background: -webkit-linear-gradient(#ffff99, #ffcc99);
    text-decoration: none;
    border-radius: 4px;
    padding: 20px;
    width: 60px;
}
li {
    margin: 50px;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  h1 {
      z-index: -1;
  }
  div {
      font-size: 75px;
      color: azure;
      font-weight: bold;
  }
